/* Your custom styles */
@font-face {
    font-family: "AvenirNextCyr-Bold"; /* Имя шрифта */
    src: url("../font/AvenirNextCyr-Bold.ttf"); /* Путь к файлу со шрифтом */
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextCyr-Demi"; /* Имя шрифта */
    src: url("../font/AvenirNextCyr-Demi.ttf"); /* Путь к файлу со шрифтом */
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextCyr-Light"; /* Имя шрифта */
    src: url("../font/AvenirNextCyr-Light.ttf"); /* Путь к файлу со шрифтом */
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextCyr-Regular"; /* Имя шрифта */
    src: url("../fonts/AvenirNextCyr-Regular.ttf"); /* Путь к файлу со шрифтом */
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextCyr-Italic"; /* Имя шрифта */
    src: url("../font/AvenirNextCyr-Italic.ttf"); /* Путь к файлу со шрифтом */
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "AvenirNextCyr-Medium"; /* Имя шрифта */
    src: url("../fonts/AvenirNextCyr-Medium.ttf"); /* Путь к файлу со шрифтом */
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-BoldCondensed"; /* Имя шрифта */
    src: url("../fonts/roboto/Roboto-BoldCondensed.ttf"); /* Путь к файлу со шрифтом */
    font-weight: 600;
    font-style: normal;
}


.default-color{
    background-color: white;
}

.navbar{
    box-shadow: none;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: black!important;
}
.nav-link a{
    color:blue!important;
}

 .btn{
    font-family: "Roboto-BoldCondensed",sans-serif;
    font-size: 12px;
    background: linear-gradient(90deg,  #285ea9 0%, #285ea9 23%, #7db9e8 100%);
    color: white; 
    border-radius: 31px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.block1{
    background-image: url("../img/back1.jpg");
    background-position: right;
    background-repeat: no-repeat;
    height: 654px;
}



.block1 h1{
    font-family: "AvenirNextCyr-Bold",sans-serif;
    font-size: 45px;
    line-height: 48px;
    background: linear-gradient(90deg,  #285ea9 0%, #285ea9 23%, #7db9e8 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top:150px; 
}

.block1 .btn, 
.block2 .btn, 
.block3 .btn, 
.block5 .btn, 
.block6 .btn,
.block8 .btn {
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 5px 10px;
}

.block2{text-align: center;}

.block2 h1,
.block3 h1,
.block4 h1{
    font-family: "AvenirNextCry-Demi", sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    background: linear-gradient(90deg,  #285ea9 0%, #285ea9 23%, #7db9e8 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center
}

.block2 .flex-center{display: block;}

.block2 h5{
    font-family: "AvenirNextCry-Demi", sans-serif;
    font-size:18px;
    color:#4582c5;
}

.block2 .flex-center p{font-size:15px;}

.item{padding: 30px 250px;}

.col-2 img{transform: scale(0.7);}

.b1 h5{color:#cc1e80; margin-bottom:0px;}
.b2 h5{color:#cc1e3a; margin-bottom:0px;}
.b3 h5{color:#e06501; margin-bottom:0px;}
.b4 h5{color:#119251; margin-bottom:0px;}
.b5 h5{color:#336699; margin-bottom:0px;}

.col-10 .text-left h5,p{padding-left: 0px;}

.col-10{
    font-size: 14px;
    padding-top:17px; 
}

.block3{
    text-align: center;
    color:#414141;
}

.block3 h3{
    font-family: "AvenirNextCry-Demi", sans-serif;
    font-weight: 500;
    font-size: 25px;
}

.block3 h4{
    font-family: "AvenirNextCry-Demi", sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #414141;
}

.rainbow{ background:linear-gradient(90deg, #9b1a75 0%, #c01a22 19%, #d0751a 40%, #c0b015 58%, #43943b 78%, #2e4786 94%);}

.media p{
    text-align: left;
    font-family: "AvenirNextCry-Demi", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color:#ffffff;
    margin-top: 16px;
}

.diagnostics{width: 270px;}

.block3 .btn{
    margin-top:30px;
    margin-bottom:70px;
}

.block5{
    background-image: url("../img/back4.jpg");
    background-repeat: repeat-x;
    text-align: left;
    background-color: #edeeee;
}

.block5 h1{
    font-family: "AvenirNextCry-Demi", sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
    background: linear-gradient(90deg,  #285ea9 0%, #285ea9 23%, #7db9e8 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top:45px; 
}

.block5 p{
    font-family: "AvenirNextCry-Italic", sans-serif;
    font-size: 18px;
    line-height: 19px;
    font-style: italic;
    color:#414141;
    padding-top: 20px;
}

.block5 .btn{margin-top: 15px;}

.block6{
    background-image:url("../img/back5.jpg");
    background-position: right;
    background-repeat: no-repeat;
}

.block6 h1{
    font-family: "AvenirNextCry-Demi", sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
    background: linear-gradient(90deg,  #285ea9 0%, #285ea9 23%, #7db9e8 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top:45px;
    padding-bottom:30px;  
}

.block6 ul{
    padding-left:0px; 
    list-style: none; 
}

.block6 .media{padding-bottom:15px; }

.block6 p{
    font-family: "AvenirNextCry-Demi", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    color:#414141;
    margin: 0;
    padding: 6px 15px;
}

.block6 .btn{margin:15px 0px; }

.block7 h5{
    font-family: "AvenirNextCry-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #414141;
    padding-top: 45px;
}

.carousel-indicators{bottom: -50px;}

.carousel-indicators .active {background-color:#206ab2;}

.carousel-indicators li{background-color: #c5dbf3;}

.block8{text-align: center;}

.block8 h1{
    font-family: "AvenirNextCry-Demi", sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    background: linear-gradient(90deg,  #285ea9 0%, #285ea9 23%, #7db9e8 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    padding-top:45px;
    padding-bottom:30px;  
}

.block8 h4{
    font-family: "AvenirNextCry-Demi", sans-serif;
    font-size: 15px;
    line-height: 15px;
    color: #414141;
    
}

.service{width: 210px;}

.block9{background-color: #2464ad;}

.block9 h1{
    font-family: "AvenirNextCry-Demi", sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color:#ffffff;
    padding-top:45px;
    padding-bottom:30px;
}

.block9 ul{
    padding-left: 0px;
    border-radius: 27px;
}

.block9 li{
    font-family: "AvenirNextCry-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    list-style: none;
    color: #414141;
}
 
.block9 li p{
    font-family: "AvenirNextCry-Demi", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px; 
    color: #414141;
}

.block9 h4{
    font-family: "AvenirNextCry-Demi", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 17px; 
    color:#ffffff;
    padding-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.pricing-card .header {
    border-radius: 46px 46px 0 0;
}

.card{
    border-radius: 46px;
}

.block9 .media{
    display: block;
}

.block9 .media p{
    font-family: "AvenirNextCry-Demi", sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px; 
    text-align: center;
    padding-top:16px;
    padding-bottom:16px;  
}
  
.bf{
    background-image: url("../img/footer.png");
    background-repeat: no-repeat; 
    background-size: 100%;
    min-height: 190px;
    width: 400px;
    font-family: "AvenirNextCry-Regular", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    list-style: none;
    color: #ffffff;
    padding-left: 30px;
    padding-top: 10px;
    margin-top:35px; 
}

.form-btn{
    float: right;
    padding-top:10px; 
    padding-right:20px; 
    text-transform: uppercase;
}

.form-control{
    border-radius:31px;
    border: 2px solid #ffffff;
    padding: 5px;
    font-size: 13px;
    width: auto;
    background-color: #0d8aca00;
    color: #ffffff;
}
  
.form-control::placeholder{
    color: #ffffff;
}

.form-group{
    margin-left:15px; 
}

.modal-content{
    background-color:#206ab2;
    width: 250px;
}

.modal-title{
    font-family: "AvenirNextCyr-Bold",sans-serif;
    font-size: 22px;
    line-height: 22px;
    color: #ffffff;
}

.modal-header{
    border:none;
}

.modal-footer{
    border: none;
}

.modal-footer .btn{
    background: #ffffff;
    color: #206ab2;
    margin-top:-20px;
    margin-right: 35px; 
}


.mx-1{margin-left:auto !important;
margin-right:auto !important;
padding: 0px; }

/* monitors and laptops */
@media screen and (min-width: 1240px) {
  
    .block2 .display1{display: block !important;}

    .block2 .display2{display: none !important;}

}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1240px) {

    .block1 h1 {
        font-size: 35px;
    }

    .block2 .display1{display: none !important;}

    .block2 .btn{margin-top: 30px; margin-bottom: 90px;}

    .block3 img{transform: scale(0.7);}

    .diagnostics{
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .my-3{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .block5 h1{font-size: 15px;text-align: left;}

    .block5 p{font-size: 12px;}

    .block5 .btn{
       text-align: center;
    }

    .block6{
        background: url("../imgm/b6_fon.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .social{text-align: center;}

}


/* phone */
@media screen and (min-width: 480px) and (max-width: 768px) {

    .block1{
        background: url("../imgm/b1_fon.png");
        background-size:cover ;
        background-repeat: no-repeat;
        background-position-x: right;
        height: auto;
    }

    .block1 img{
        margin-left: auto;
        padding-top: 80px;
        margin-right: auto;
    }

    .block1 h1 {
        font-size: 30px;
        text-align: center;
        padding-top: 20px;
        margin-left: auto;
    }
  
    .block1 .btn{
        text-align: center;
        margin-top: 25px;

    }

    .block2{
        background: url("../imgm/b2_fon.png");
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: bottom;
        text-align: center;
    }

    .block2 h1{font-size: 20px;}

    .block2 h5{ font-size: 17px;}

    .block2 p{font-size: 17px;}

    .block2 .p-2{width: 250px;}
    
    .block2 .p-2 img{transform: scale(0.7);}

    .block2 .btn{margin-bottom: 90px;}

    .block3 h1{
        text-align: center;
        font-size: 25px;
    }

    .block3 h3{font-size: 20px;}

    .block3 h4{ font-size: 17px;}

    .diagnostics{
        width: 170px;
        margin-left: auto;
        margin-right: auto;
    }

    .my-3{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .block3 img{transform: scale(0.7);}

    .block3 .media p{font-size: 13px; text-align: center;}
    
    .block4 h1{font-size: 20px;text-align: center;}

    .block5{
        background:url("../imgm/b5_fon.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .block5 h1{font-size: 15px;text-align: left;}

    .block5 p{font-size: 12px;}

    .block5 .btn{
       text-align: center;
    }

    .block6{
        background: url("../imgm/b6_fon.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .block6 h1{text-align: center; font-size: 20px; padding-top: 20px;}

    /* .block6 .media img{transform: scale(0.7); text-align: left;} */

    .block6 li p{font-size: 13px;}

    .block8 h1 {font-size: 20px;text-align: center;}

    .service{width: 200px; margin-left:auto; margin-right: auto;}

    .service img{transform: scale(0.7)}

    .card{
        width: 260px;   
        margin-left: auto;
        margin-right: auto;
    }

    .block9 li{font-size: 15px;}

    .display1{display: none !important;}

    .social{text-align: center;}

}


/* phone */
@media screen and (max-width: 480px) {

    .block1{
        background: url("../imgm/b1_fon.png");
        background-size:cover ;
        background-repeat: no-repeat;
        background-position-x: right;
        height: auto;
    }

    .block1 img{padding-top: 20px;}

    .block1 h1 {
        font-size: 25px;
        text-align: center;
        padding-top: 20px;
        margin-left: auto;
    }
    
    .rainbow p{font-size: 16px;}

    .block2 h1{
        text-align: center; 
        font-size: 20px;
        padding-bottom: 8px !important;
    }

    .block2 h5{ font-size: 13px;}

    .block2 p{font-size: 13px;}

    .block2 .p-2{width: 200px;}
        
    .block2 .p-2 img{transform: scale(0.7);}
        
    .block2 .btn{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 70px;
    }

    .block3 h1{
        text-align: center; 
        font-size: 20px;
    }

    .block3 h4{font-size: 13px;}

    .diagnostics{width: 170px;}
    
    .block3 img{transform: scale(0.7);}

    .block4 h2{text-align: center; font-size: 20px; }

    .block4 li{font-size: 14px;}

    .b4right{transform: scale(0.7); margin-left: -45px;}

    .b4 .btn{margin-left: 100px;}

    .block4 .row{display:block;}

    .block5{
        background:url("../imgm/b5_fon.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .block5 h1{font-size: 15px;text-align: left;}

    .block5 p{font-size: 12px;}

    .block5 .btn{text-align: center;}

    .block6{
        background: url("../imgm/b6_fon.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .block6 h1{text-align: center; font-size: 20px; padding-top: 20px;}

    /* .block6 .media img{transform: scale(0.5);} */

    .block6 li p{font-size: 13px;}

    .block8 h1 {font-size: 20px;text-align: center;}

    .service{width: 150px; margin-left:auto; margin-right: auto;}

    .block9 li{font-size: 15px;}

    .block9 .media p{font-size: 16px; text-align: center;}

    .display1{display: none !important;}

    .social{text-align: center;}
}